.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding-top: 5%;
}

.right-content {
  margin: 10px;
}
.left-content {
  margin: 10px;
  position: relative;
}

.card-figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-body {
  overflow-y: auto;
  width: 100%;
}

.card {
  width: 100%; /* Set the desired width */
  height: 250px; /* Set the desired height */
}

.date-content {
  text-align: start;
}

.recent-news {
  margin-bottom: 20px;
}

.announcement {
  margin-bottom: 20px;
}

.collapse {
  width: 420px;
}

.btn-box {
  border-radius: 10px;
  width: 15%;
  height: 150%;
  background-color: rgb(129, 129, 129);
}
