/* carousel.css */
.carousel {
  border-radius: 10px;
  max-width: 100%;
}
.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
  position: relative;
}

.hero-btn {
  background-color: rgb(255, 255, 255);
  padding: 30px;
}

.btn-arrow {
  border-radius: 50%;
  background-color: rgba(204, 204, 204, 0.39);
}

.btn {
  border-radius: 10%;
}
/* Make the buttons circular */
.circle-btn {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .carousel-item {
    /* Adjust styles for smaller screens */
  }
}

@media (max-width: 480px) {
  .carousel-item {
    /* Further adjustments for even smaller screens */
  }
}
