.container {
  display: flex;
  align-items: center;
}

.table-media {
  width: 100%;
  height: 400px;
  margin-top: 5vh;
}
.table-media p {
  margin-bottom: 5vh;
}

.card-pic {
  width: 50%;
}

.left-title {
  padding-top: 5%;
}
