.navbar-container {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  transition: background-color 0.3s ease;
  top: 0;
  z-index: 1000; /* Ensure it is above other content */
  background-color: var(
    --base-100,
    rgb(235, 235, 235)
  ); /* Ensure the background is set */
}

.div-img-logo {
  padding-right: 1vh;
}

.logo-img {
  height: auto;
  width: 3vh;
}

.navbar-container.transparent {
  background-color: rgba(
    235,
    235,
    235,
    0.9
  ); /* Warna latar belakang transparan */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(
    --base-100
  ); /* Assuming --base-100 is defined in your global CSS */

  width: 100%; /* Ensure it covers the full width */
}

.flex-1 {
  flex: 1;
}

.btn-ghost {
  padding: 0.5rem 0.5rem;
  display: flex;

  color: #333;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

.text-xl {
  font-size: 1.25rem; /* Adjust the size as needed */
}

.flex-none {
  display: flex;
}

.menu-horizontal {
  display: flex;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.menu-horizontal > li {
  position: relative; /* Needed for positioning the dropdown */
  margin: 0 0.5rem; /* Adjust the margin as needed */
}

/* Dropdown menu hidden by default */
.menu-horizontal > li > details > ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  z-index: 50;
  min-width: 200px;
  padding: 0.5rem 0;
}

/* Show the dropdown menu on hover */
.menu-horizontal > li:hover > details > ul {
  display: block;
}

.dropdown-header > li > a {
  padding: 0.5rem 1rem;
  display: block;
  color: #333;
  text-decoration: none;
}

.dropdown-header > li > a:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .navbar-container {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .flex-1 {
    width: 100%;
    margin-bottom: 1rem;
  }

  .menu-horizontal {
    flex-direction: column;
  }

  .menu-horizontal > li {
    margin: 0.5rem 0;
  }

  .menu-horizontal > li > details > ul {
    position: static;
  }
}
