.navbar-container {
  position: sticky; /* For sticky positioning */
  transition: background-color 0.3s ease;
  top: 0;
  z-index: 1000; /* Ensure it is above other content */
  background-color: rgba(
    235,
    235,
    235,
    0.644
  ); /* Initial transparent background */
}

.div-img-logo {
  padding-right: 1vh;
}

.logo-img {
  height: auto;
  width: 3vh;
}

.navbar-container.transparent {
  background-color: rgba(235, 235, 235, 0.644); /* Transparent background */
}

.navbar-container.solid {
  background-color: rgb(235, 235, 235); /* Solid background */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent; /* Keep the navbar itself transparent */
  width: 100%; /* Ensure it covers the full width */
}

.flex-1 {
  flex: 1;
}

.btn-ghost {
  padding: 0.5rem 0.5rem;
  display: flex;
  color: #333;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

.text-xl {
  font-size: 1.25rem; /* Adjust the size as needed */
}

.flex-none {
  display: flex;
}

.menu-horizontal {
  display: flex;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.menu-horizontal > li {
  position: relative; /* Needed for positioning the dropdown */
  margin: 0 0.5rem; /* Adjust the margin as needed */
}

.menu-horizontal > li > details > ul {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #cccccc67;
  border-radius: 0.25rem;
  z-index: 50;
  min-width: 200px;
  padding: 0.5rem 0;
  display: none; /* Hide by default */
}

.menu-horizontal > li > details[open] > ul {
  display: block; /* Show when open */
}

.dropdown-header > li > a {
  padding: 0.5rem 1rem;
  display: block;
  color: #575757;
  text-decoration: none;
}

.dropdown-header > li > a:hover {
  background-color: #a1a1a1;
  color: white; /* Change text color on hover */
  align-items: center;
}

.dropdown-header > li {
  padding-left: 1vh;
}

@media (max-width: 768px) {
  .navbar-container {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .flex-1 {
    width: 100%;
    margin-bottom: 1rem;
  }

  .menu-horizontal {
    flex-direction: column;
  }

  .menu-horizontal > li {
    margin: 0.5rem 0;
  }

  .menu-horizontal > li > details > ul {
    position: static;
    transform: none;
  }
}

.content-vision {
  margin-bottom: 5vh;
}
