.content-news {
  margin-bottom: 2vh;
  display: flex;
}
.content-news-right {
  margin-left: 2vh;
  display: flex;
}

.form-control {
  width: 30vh;
}

.card-left img {
  border-radius: 2vh;
  width: 80%;
}

.join-pagination input {
  margin-right: 1vh;
  margin-bottom: 2vh;
}

.join-pagination input:last-child {
  margin-right: 0;
}

.content-news-right {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Jarak antara search dan kategori */
}

.content-news-category {
  margin-top: 1vh;
  width: 100%;
  height: auto;
}
