.home-icon {
  width: 1rem;
}

.breadcrumbs {
  background-color: rgb(230, 230, 230);
  margin-top: 1%;
  border-radius: 1vh;
}

.img-icon {
  margin-left: 1vh;
}

.content-about {
  text-align: left;
}

.header-content {
  margin-top: 1vh;
  font-size: 3vh;
  margin-bottom: 1vh;
  font-weight: bold;
}
.content-title {
  margin-top: 1vh;
  font-size: 2vh;
  margin-bottom: 1vh;
  font-weight: bold;
}

.content-fill {
  margin-bottom: 2vh;
  text-align: start;
}

.fill-head {
  margin-bottom: 1vh;
}

.content-sub-title {
  text-align: left;
  margin-top: 1vh;
}

ul {
  list-style-type: disc; /* tipe bullets, bisa diubah menjadi circle, square, dll */
}

ul.custom-bullets {
  margin-left: 2vh;
  list-style-type: disc; /* contoh custom style */
}
